.location-icon{
  font-size: 30px;
  color: #9E1A1A 
}

.location-icon :focus{
  font-size: 50px;
  color: #9E1A1A 
}

.popup {
  background-color: white;
  color: black
}

.clicked-marker{
  font-size: 5rem
}