.react-tabs{
  margin: 20px;
}

.react-tabs__tab-list {
   border-bottom: .5px solid red; 
   margin: 0 0 10px; 
   padding: 0; 
  } 

.react-tabs__tab { 
  display: inline-block;
  border: 1px solid transparent; 
  border-bottom: none; 
  bottom: -1px; 
  position: relative; 
  list-style: none; 
  padding: 6px 12px;
  cursor: pointer; 
  width: 50%;
  background-color: rgba(128,128,128, 0.2);

} 

.react-tabs__tab--selected { 
  background: #fff; 
  border-color: red; 
  color: black; 
  border-radius: 5px 5px 0 0; 
  
} 

.react-tabs__tab-panel { 
  display: none; 
  margin-top: 20px;
} 

.react-tabs__tab-panel--selected { 
  display: block; 
} 

.react-tabs__tab--disabled{ 
  color: Grey;
  cursor: default; 
  background-color: red;
} 

.react-tabs__tab:focus { 
  box-shadow: 0 0 5px hsl(208, 99%, 50%); 
  border-color: hsl(208, 99%, 50%); 
  outline: none; 
} 

.react-tabs__tab:focus:after { 
  content: ""; 
  position: absolute; 
  height: 5px; 
  left: -4px; 
  right: -4px; bottom: -5px; background: #fff;
 }

 ul {
   text-align: center;
 }
 
 .restaurant-list-container{
   padding: 0px;
 }